.tf {
  text-align: center;
  background-color: black;
}

.qwixx_board {
  background-image: url("../public/qwixx.jpg");
  width: 1024px;
  height: 643px;
  position: relative;
}

.qwixx_score_box {
  padding: 10px;
  position:absolute;
  font-size: 32px;
  font-weight: bolder;
  width: 55px;
  /* border: 1px solid red; */
  top: 555px;
}

.qwixx_yellow_score {
  color: darkgoldenrod;
  left: 238px;
}

.qwixx_blue_score {
  color: blue;
  left: 478px;
}

.qwixx_green_score {
  color: green;
  left: 358px;
}

.qwixx_red_score {
  color: red;
  left: 120px;
}

.qwixx_gray_score {
  color: gray;
  left: 630px;
}

.qwixx_black_score {
  color: black;
  left: 780px;
}
