.tf {
  text-align: center;
  background-color: black;
}

.tf_board {
  background-image: url("../public/tf.jpg");
  width: 718px;
  height: 1024px;
  position: relative;
}

.box {
  position: absolute;
  /* border: 1px solid red; */
}

.crossed {
  background-image: url("../public/cross.png");  
  background-size: cover;
}

.dotted {
  background-image: url("../public/dot.png");  
  background-size: cover;
}

.dotted_crossed {
  background-image: url("../public/dot_cross.png");  
  background-size: cover;
}

.popup-content {
  text-align: center;
}

.popup-content button {
  margin: 10px;
  padding: 10px;
  font-size: large;
}

.numbers {
  font-size: 40px;
  font-weight: bolder;
  color: red;
  background: white;
  border-radius: 10px;
}

.scores {
  position: static;
  width: 718px;
}
.score_box {
  padding: 10px;
  border: 1px solid black;
  position:static;
  font-size: 40px;
  font-weight: bolder;
  background-color: black;
  display: inline-block;
  width: 75px;
}

.yellow_score {
  color: yellow
}

.blue_score {
  color: blue
}

.green_score {
  color: green
}

.orange_score {
  color: orange
}

.purple_score {
  color: magenta
}

.red_score {
  color: red
}

.black_score {
  color: white
}
