.tf {
  text-align: center;
  background-color: black;
}

.tf_board {
  background-image: url("../public/tf.jpg");
  width: 718px;
  height: 1024px;
  position: relative;
}


.tf_scores {
  position: static;
  width: 718px;
}
.tf_score_box {
  padding: 10px;
  border: 1px solid black;
  position:static;
  font-size: 40px;
  font-weight: bolder;
  background-color: black;
  display: inline-block;
  width: 75px;
}

.tf_yellow_score {
  color: yellow
}

.tf_blue_score {
  color: blue
}

.tf_green_score {
  color: green
}

.tf_orange_score {
  color: orange
}

.tf_purple_score {
  color: magenta
}

.tf_red_score {
  color: red
}

.tf_black_score {
  color: white
}
